/* TOP calculator style */

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blanchedalmond;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #222222;
    border: 10px solid #222222;
    border-radius: 10px;
    gap: 5px;
}

#display {
    display: flex;
    justify-content: right;
    background-color: lightgrey;
    padding-right: 5px;
    border: 5px solid black;
    border-radius: 10px;
}

.displayInput {
    font-size: 75px;
}

.buttonRow {
    display: flex;
    gap: 5px;
}

.specialButton, .operator, .number, .zero {
    font-size: 25px;
    padding: 25px;
    border: none;
    border-radius: 10px;
}

.specialButton, .operator, .number {
    width: 25%;
}

.zero {
    width: 50%;
}

.specialButton { 
    background-color: chocolate;
}

.operator {
    background-color: orange;
}

.number, .zero {
    background-color: gold;
}
